.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');


h1 {
  margin-top: 10px;
  margin-bottom: 40px;
  color: rgb(255, 84, 112);
  text-shadow:0.5px 0.5px 0 #000;
  text-align: center;
  font-family: 'Courgette', cursive;
  
}

.list {
  display: flex;
  justify-content: center;
  margin-left: -40px;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:100px;
  width: auto;
  margin-bottom: 38px
}

.tenor-gif-embed {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}


ul > li > a {
  font-family: 'Nanum Pen Script', cursive;
  font-size: x-large;
  text-decoration: none;
  color: black;
}

ul > li > a:hover {
  color: grey;
}

ul > li > a:visited {
  color: black;
}

ul > li > a:visited:hover {
  color: grey;
}

h4 {
  text-align: center;
}

.container {  
  margin-top: 5px;
  margin-left:5px;
  display: flex;  
  justify-content: center;  
  align-items: center;
}

button {
  background-color: rgb(255, 84, 112);
  border-radius: 20px;
  border-color: white;
  border-style: none;
  padding:5px 10px;
}

button > a {
  text-decoration: none;
  font-family: 'Courgette', cursive;
  font-size: medium;
  color: white;
}

button:hover {
  background-color: rgb(255, 183, 195);
}

button > a:visited {
  color: white;
}




